server:
  host: 127.0.0.1
  port: 3000

# Path to secrets file (can be relative or absolute)
secrets_file: secrets/ci.yaml

# Path to node sockets
node_sockets:
  tag: Local
  contents:
    node_to_client_socket: preprod.socket
    tracer_socket: preprod_tracer.socket

# Path to Cardano protocol config file
protocol_config_path: config/preprod/config.json

database:
  host: localhost
  port: 5432
  database_name: hoard_test
  pool:
    size: 5
    acquisition_timeout_seconds: 5
    aging_timeout_seconds: 600
    idleness_timeout_seconds: 300

logging:
  minimum_severity: DEBUG

# Maximum number of file descriptors
max_file_descriptors: 16384

peer_manager:
  # Cooldown period after a peer failure before retrying (in seconds)
  peer_failure_cooldown_seconds: 300
  max_collector_lifetime_seconds: 3000 # 50 minutes
  max_concurrent_collectors: 100

node_to_node:
  # Timeout for TCP connection handshake (in seconds)
  # This only affects the initial connection, not established connections
  connection_timeout_seconds: 10

# Cardano protocols configuration
cardano_protocols:
  peer_sharing:
    request_interval_microseconds: 3600000000 # 1 hour
    request_amount: 100
    maximum_ingress_queue: 1000
  keep_alive:
    interval_microseconds: 10000000 # 10 seconds
    maximum_ingress_queue: 1000
  block_fetch:
    batch_size: 10
    batch_timeout_microseconds: 1000000 # 1 second
    maximum_ingress_queue: 393216 # 384 KiB
  chain_sync:
    maximum_ingress_queue: 1200
  tx_submission:
    maximum_ingress_queue: 10

cardano_protocol_handles:
  block_fetch:
    max_concurrent_fetches: 1

# Monitoring configuration
monitoring:
  polling_interval_seconds: 10

# Cardano node integration configuration
cardano_node_integration:
  ssh_server_alive_interval_seconds: 60
  immutable_tip_refresh_seconds: 20
