server:
  host: 0.0.0.0
  port: 3000

# Path to secrets file (can be relative or absolute)
secrets_file: secrets/dev.yaml

database:
  host: /home/cgeorgii/code/cardano-hoarding-node/postgres-data
  port: 5432
  database_name: hoard_dev
  pool:
    size: 10
    acquisition_timeout_seconds: 5
    aging_timeout_seconds: 1800
    idleness_timeout_seconds: 600
