server:
  host: 0.0.0.0
  port: 3000

# Path to secrets file (can be relative or absolute)
secrets_file: secrets/dev.yaml

# Path to node sockets
node_sockets:
  tag: Local
  contents:
    node_to_client_socket: preprod.socket
    tracer_socket: preprod_tracer.socket

# Path to Cardano protocol config file
protocol_config_path: config/preview/config.json

database:
  host: /home/cgeorgii/code/cardano-hoarding-node/postgres-data
  port: 5432
  database_name: hoard_dev
  pool:
    size: 10
    acquisition_timeout_seconds: 5
    aging_timeout_seconds: 1800
    idleness_timeout_seconds: 600

logging:
  minimum_severity: DEBUG

# Maximum number of file descriptors
# Increase this to support many concurrent peer connections
max_file_descriptors: 16384
